* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h1 {
  text-align: center;
  font-size: 40px;
  color: antiquewhite;
  padding: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search input {
  padding: 15px 50px;
  width: 300px;
  background-color: rgba(34, 33, 33, 0.712);
  opacity: 0.8;
  border: 1px solid #ccc;
  border-radius: 40px;
  color: white;
  font-size: 20px;
}

.search input::placeholder {
  color: white;
}

.search-icon {
  position: relative;
  cursor: pointer;
  left: -40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  overflow-x: hidden;
  width: calc(100% - 40px); 
  margin: 0 auto; 
}

.empty {
  text-align: center;
  margin-top: 20px;
}

.movie {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

